html {
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

.wrapper {
    display       : flex;
    flex-direction: column;
    min-height    : 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}
.content__page{
    background-color: $grey;
}
a {
    display        : inline-block;
    text-decoration: none;
    color          : $color-text;
}

ul,
li {
    margin    : 0;
    padding   : 0;
    list-style: none;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size  : 14px;
    color      : $color-text;
}

.container {
    max-width: 1200px;
    padding  : 0 15px;
    margin   : 0 auto;
}

.container-fluid {
    max-width: 100%;
    padding  : 0 30px;
    margin   : 0 auto;
}

@media (max-width:720px) {
    .container-fluid {
        padding: 0 15px;
    }
}

.title {
    font-size  : 36px;
    line-height: 60px;
    @include f700;
    margin-bottom: 30px;
    text-align   : center;
    color        : $bg;

}

form,
input {
    box-sizing: border-box;
}

// start breadcrumbs
.breadcrumbs {
    &__inner {
        padding: 45px 0 40px;

        &-list {
            li {
                display : inline-block;
                position: relative;

                &:last-child {

                    a,
                    span {
                        color: $bg;
                    }
                }

                &+li {
                    padding-left: 20px;

                    &::before {
                        content : '-';
                        position: absolute;
                        color   : $green;
                        left    : 6px;
                    }
                }

                a,
                span {
                    font-size: 15px;
                    color    : #b0bec5;
                }
            }
        }
    }
}

// end breadcrumbs