$color-text: #546e7a;
$bg  :#263238;
$red: #e74c3c;
$green: #8bc34a;
$grey: #f4f6f5;
$outline: #6e6f6e;
$tomato: #ef6c00;
$orange: #fcb322;
$border: #dedede;
$bg-page: #f4f6f5;
$light-grey: #707070;

@mixin f300{
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
}

@mixin f400{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}
@mixin f500{
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}
@mixin f700{
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}

@mixin outline{
    border: 1px solid $outline;
}


@mixin img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}